@page "/"
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<AuthorizeView>
     <Authorized>
        <br/><br/><br/>
        <div class="home_page_container">
            <div style="text-align: center;">
                <h1 style="font-weight: bold; border-bottom: 1px solid #C0C0C0;">Main Menu</h1>
            </div>
            <div class="main_nav_container">

                <a class="menu_link" href="/Notify">
                    <div class="main_nav_button">
                        <div class="main_nav_button_icon"><img src="/img/substitute.svg"></div>
                        <div class="main_nav_button_text">Notify SIS of an upcoming substitute secretary</div>
                    </div>
                </a>

                <a class="menu_link" href="/SubList">
                    <div class="main_nav_button">
                        <div class="main_nav_button_icon"><img src="/img/list.svg"></div>
                        <div class="main_nav_button_text">View and request changes to the available sub list</div>
                    </div>
                </a>

            </div>
            <br/>
            <div class="main_nav_container">

                <a class="menu_link" href="/ManageSchools">
                    <div class="main_nav_button">
                        <div class="main_nav_button_icon"><img src="/img/school.svg"></div>
                        <div class="main_nav_button_text">Manage school list</div>
                    </div>
                </a>

                <a class="menu_link" href="/ManageSubList">
                    <div class="main_nav_button">
                        <div class="main_nav_button_icon"><img src="/img/list-check.svg"></div>
                        <div class="main_nav_button_text">Manage sub list</div>
                    </div>
                </a>

                <a class="menu_link" href="/ManagePermissions">
                    <div class="main_nav_button">
                        <div class="main_nav_button_icon"><img src="/img/security.svg"></div>
                        <div class="main_nav_button_text">Manage permissions</div>
                    </div>
                </a>

            </div>

        </div>

     </Authorized>
     <NotAuthorized>
         <p>Not Authorized</p>
     </NotAuthorized>
 </AuthorizeView>