@page "/ManagePermissions"

<h1>Manage Permissions</h1>

<h2>Groups that can submit notifications</h2>
List all the schools here, each with the ability to add multiple groups to it (so we don't have to duplicate permission entries for secretaries, admins, etc.)


<h2>Groups that can modify schools</h2>
Just a single list of groups here


<h2>Groups that can modify permissions</h2>
Just a single list of groups here