@page "/Notify"

<h1>Notify</h1>

<ul>
    <li>Form goes here for school staff to fill out</li>
    <li>It should know what school a user has access to based on their group memberships (in the permissions section)</li>
</ul>