@page "/Notify"

<div class="page_container">
<h1>Notify</h1>
<a href="/">Back to home</a>
<br/><br/>

<ul>
    <li>Form goes here for school staff to fill out</li>
    <li>It should know what school a user has access to based on their group memberships (in the permissions section)</li>
</ul>
</div>