@page "/ManagePermissions"
@using System.Security.Claims
@using SubNotify.FrontEnd.Services

@code {

    [Inject]
    PermissionsManager? _permissionsManager { get; set; }
    

}

<PageTitle>Permissions</PageTitle>

<AuthorizeView>
     <Authorized>

        @if (_permissionsManager?.CanManagePermissions(context?.User) ?? false)
        {
            <br/><br/><br/>
            <div class="home_page_container">
                <div style="text-align: center;">
                    <h1 style="font-weight: bold; border-bottom: 1px solid #C0C0C0;">Permissions</h1>
                </div>

                <div style="text-align: center;">
                    <p>These permissions control who can log into and access this site, and what schools a given user can see and submit the form for.</p>
                    <p>There is only one set of permissions, the different links below just allow you to view the list of permissions differently.</p>
                </div>

                <div class="main_nav_container">

                    <a class="menu_link" href="/PermissionsFullList">
                        <div class="main_nav_button">
                            <div class="main_nav_button_icon"><img src="/img/security.svg"></div>
                            <div class="main_nav_button_text">All permissions</div>                        
                        </div>
                    </a>

                    <a class="menu_link" href="/PermissionsBySchool">
                        <div class="main_nav_button">
                            <div class="main_nav_button_icon"><img src="/img/security.svg"></div>
                            <div class="main_nav_button_text">Permissions by School</div>
                        </div>
                    </a>

                    <a class="menu_link" href="/PermissionsByPermission">
                        <div class="main_nav_button">
                            <div class="main_nav_button_icon"><img src="/img/security.svg"></div>
                            <div class="main_nav_button_text">Administrative permissions</div>
                        </div>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a href="/">Back to home</a> 
                </div>
            </div>

        } else {
            <br/><br/>
            <div style="text-align: center;"><b>😥 Sorry, you don't have access to this page ⛔</b></div>
        }
        <br/><br/><br/><br/><br/>
     </Authorized>
     <NotAuthorized>
         <p>Not Authorized</p>
     </NotAuthorized>
 </AuthorizeView>