@page "/SubList"
@using SubNotify.FrontEnd.Services
@using System.Security.Claims

@code {
    [Inject]
    PermissionsManager? _permissionsManager { get; set; }
}
<AuthorizeView>
     <Authorized>
        <div class="page_container">
        <h1>Sub list</h1>
        <a href="/">Back to home</a>
        <br/><br/>

        <h2>School that this user has access to</h2>
        <ul>
            <li>Person</li>
            <li>Person</li>
        </ul>
        <h2>School B</h2>
        <ul>
            <li>Person</li>
            <li>Person</li>
            <li>Person</li>
        </ul>

        <h1>How to make changes to this list</h1>
        This could be a special form that asks for the specific information that we need, and then creates a Jira ticket. But that locks this software in to Jira, so it's not great.
        This could also be an informational page that directs users to create a help desk ticket.


        <h1>Add someone to the sub list</h1>
        <h1>Remove someone to the sub list</h1>

        </div>     
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>